body {
    padding: 3em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

label {
    display:block;
    margin-bottom:20px;
    font-size: 25px;
}
input {
    padding: 10px;
    width: 50%;
    margin-bottom: 1em;
}
input {
    padding: 10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 50 0;
    padding-top: 50px;
    display:block;
    font-size: 26px;
}
h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}
h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
div {
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
}

#button {
  font-size: 30px; padding-left: 30px; padding-right: 30px;
}
